html, body {
	position: relative;
	height: 100%;
	padding:0;
	margin:0
}
.link_index {position:relative !important;top:0 !important;left:auto !important}
.logo_trovo {width:46%; max-height:50px; max-width:312px;padding-top:8px; min-height:29px;padding-bottom:8px}
.ui-header  {text-align:center}
.txtwrapper{
    font-size: 15px;
}


.box_search {margin-top:10px;margin-bottom:0  !important;width:100%; clear:both}
.btn_settings {float:right}
.btn_search {clear:both; width:100%;position:relative !important; margin-top:10px !important; padding-bottom:10px !important; right:inherit !important}


.testo_finto {display:none}



/* scheda azienda */
#scheda_azienda {}
#scheda_azienda .logo_azienda {float:left;width:20%}
#scheda_azienda .info_azienda {float:left;padding-left:30px;width:70%}
#scheda_azienda .info_azienda h1 {padding:0;margin:0;}
#scheda_azienda .info_azienda p {margin:0}


#scheda_azienda .box_extra {clear:both; text-align:center}
#scheda_azienda .descrizione {clear:both;padding-top:0px;text-align:justify}
#scheda_azienda .servizi {padding-top:20px;text-align:justify}

#scheda_azienda h3 {width:100%; border-bottom:1px solid silver}

.img_gallery {width:100%}
.img_azienda {width:100%;height:auto;}

.liste_foto img {padding-right:20px;padding-bottom:20px}
/* fine scheda azienda */








#footer_dettaglio { background-color:#f4f4f4}


/* colori pulsanti */
.box_extra .azienda_gallery { background-color:#db1d27 !important; color:#fff !important; text-shadow:none !important}
.box_extra .azienda_news { background-color:#089a47 !important; color:#fff !important; text-shadow:none !important}
.box_extra .azienda_promo { background-color:#f8931f !important; color:#fff !important; text-shadow:none !important}


.btn_web {background-color:#2692c0 !important; color:#fff !important; text-shadow:none !important}
.btn_mail {background-color:#76bf43 !important; color:#fff !important; text-shadow:none !important}
.btn_tel {background-color:#faa517 !important; color:#fff !important; text-shadow:none !important}
.btn_fax {background-color:#e85970 !important; color:#fff !important; text-shadow:none !important}

.btn_info {left:0.4em}

/*forzature jquery*/
.ui-content {padding:0.2em !important}

/* gallery */
#lista_immagini, #lista_immagini div {min-height:500px !important}